html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-page-wrapper {
  width: 450px;
  height: 900px;
  /* background: url("mobile.png");
  background-repeat: no-repeat; */
  background-image: url("mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 30px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}



.mobile-page-wrapper iframe {
  border: none;
  /* height: 321px;
  width: 483px; */
  /* position: absolute; */
  /* top: 28px;
  left: 134px; */
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.mobile-page-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}